.header2{
    display:flex;
    border-style: groove;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border: none;
    margin-left: 950px;
 
}

.p1{
    font-size:25px;
    font-weight: bold;
    font-family: arial;
    color: rgb(0, 0, 0);
}
.imgJ , .imgI ,.imgH , .imgG ,.imgF , .imgE , .imgD ,.imgC , .imgB{
    margin-left: 25px;
}



