.PA{
    padding-top: 240px;
    opacity: 0px;
     margin-left: 850px;
     border-style: hidden;
     
   
 }
 .pictures{
    display:flex;
    margin-left: 450px;
   padding-top: 20px;
   
    

 }
 
.nameA{
    margin-left: 10px;
    font-size: 40px;
    color: black;
    font-family: arial;
    font-weight: bold;
}
.nameB{
    margin-left: 20px;
    font-size: 40px;
    color: black;
    font-family: arial;
    font-weight: bold;

}
.nameC{
    font-size: 40px;
    color: black;
    font-family: arial;
    font-weight: bold;
}
.pt{
    border: none;
    margin-left: 30px;
    background-color: white;
    
}
.T{
    border: none;
    background-color: gainsboro;
    width: 420px;
    
}
.N1{
    font-size: 25px;
    font-weight: bolder;
}
.P3{
    width: 300px;
}
.P2, .P3, .P4, .P5, .P6{
    vertical-align: bottom;
}
.pt1{
    border: none;
    margin-left: 50px;
    background-color: white;

}
.pictures2{
    margin-left: 450px;
    margin-top: 30px;
}
.T1{
    border: none;
    background-color: gainsboro;
    vertical-align:middle;
    width: 300px;
    height: 200px;

}




  
